* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  main {
    width: 100%;
    max-width: 100%;
  }

  body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .title {
    flex: 1;
    font-size: 24px;
  }

  .form {
    flex: 1;
  }
  .form h2 {
    margin-bottom: 5px;
  }

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 8px;
  border: 1px solid #ccc; 
  border-radius: 5px;
  margin-right: 10px;
}

  .create-user-button {
    margin-top: 0.3rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 16px;
  }

  .create-user-button:hover {
    background-color: #45a049;
  }

  .app {
    display: grid; 
    grid-template-columns: 1fr; 
    justify-items: center; 
    margin-top: 2.5rem;
  }

  .app-nav {
    margin: 0 auto;
    margin-top: 1.5rem;
  }

  .title-log-in {
    margin-bottom: 5px;
  }

  .log-in-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 16px;
  }

  .log-in-button:hover {
    background-color: #45a049;
  }

.app-nav input,
.app-nav h2,
.app-nav button {
    margin-right: 5px;
}

.log-out-button {
  background-color: #800080;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 8px 16px;
  font-size: 15px;
}

.product-button {
  background-color: #d58b00;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 8px 16px;
  font-size: 15px;
}

.shopping-cart-button {
  background-color: #4682B4;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 8px 16px;
  font-size: 15px;
}

.orders-button {
  background-color: #6B8E23;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 8px 16px;
  font-size: 15px;
}

.category-dropdown {
  margin-top: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  width: 150px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.app-content {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.app-content h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.product-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 22% 22% 22% 22%;
  grid-template-rows: auto;
  gap: 10px;
  margin: 0;
  width: 100%;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.product-card h3 {
  margin-bottom: 5px;
}

.product-card p {
  margin-bottom: 3px;
}

.product-card img {
  margin-bottom: 5px;
}

.add-to-cart-button {
  margin-top: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 15px;
}

.order {
  max-width: 90%;
  margin: auto;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.shopping-cart-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 40% 40%;
  grid-template-rows: auto;
  gap: 10px;
  margin: 0;
  width: 100%;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.buttons-container button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.submit-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.delete-button {
  background-color: #FF5733;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 50px;
}


@media screen and (max-width: 875px) {
  header {
    flex-direction: column; 
    align-items: center; 
    height: auto; 
  }

  .form {
    margin-left: 0; 
    margin-top: 10px; 
  }

   .app {
    margin-top: 10px;
  }

   .app-nav {
    margin-top: 10px;
  } 

  .product-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 28% 28% 28%;
    grid-template-rows: auto;
    gap: 10px;
    margin: 0;
    width: 100%;
  }
}